@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: rgba(255, 255, 255, 1);
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

input {
    width: 342px;
    height: 74px;
    border-radius: 14px;
    border-width: 1px;
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 1);
    font-size: 36px;
    padding-left: 10px;
    appearance: none;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

div {
    margin: 40px;
}

button {
    width: 342px;
    height: 72px;
    border-radius: 10px;
    cursor: pointer;
    background: rgba(174, 195, 70, 1);
    border: none;
    color: rgba(255, 255, 255, 1);
    font-size: 36px;
    font-weight: 700;
}

button:hover {
    background: rgba(174, 195, 70, 0.8);
}

button:active {
    background: rgba(174, 195, 70, 0.6);
}

#resultado {
    margin-top: 40px;
    font-size: 48px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 600px) {
   
    body {
        font-size: 24px;
    }

    img {
        width: 200px;
        height: auto;
    } 
    
    .input-container {
        display: flex;
        flex-direction: column;
        align-items: center;    
    }

    input {
        width: 80%;
        height: 60px;
        font-size: 24px;
        margin-bottom: 20px;
        text-align: center;
    }

    button {
        width: 60%;
        height: 60px;
        font-size: 24px;
    }

    #resultado {
        font-size: 32px;
    }
}